.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 453px;
  column-gap: 120px;
  
  position: relative;

  max-width: 1200px;
  height: 100vh;

  margin: 0 auto;
}

.contentSigned::before {
  position: absolute;
  top: 0;
  right: -200px;

  height: 100vh;
  width: 420px;
  
  background: url('./assets/background.svg') no-repeat;
  background-size: cover;

  content: '';
}
